
parent_org_id             = "organizations/<orgID>" # TODO
parent_folder             = ""
shared_names              = ["fldr-otis-shared"]
bu_names                  = ["fldr-otis-whq"]
team_name_1               = "fldr-apps-supp-maint"
team_name_2               = "fldr-global-network-services"
team_name_3               = "fldr-active-directory"
team_name_4               = "fldr-hq-operations"
team_name_5               = "fldr-whq-ifs"
dev_env_name              = ["fldr-dev"]
qa_env_name               = ["fldr-qa"]
test_env_name             = ["fldr-test"]
stage_env_name            = ["fldr-stag"]
prod_env_name             = ["fldr-prod"]
set_roles                 = "false"
billing_account           = ["013CB8-629455-4A1E12"]
org_id                    = [""] # TODO
grp_billing_viewer        = "gcp-billing-viewers@otis.com"
grp_billing_admin         = "gcp-billing-admins@otis.com"
grp_org_viewer            = "gcp-organization-viewers@otis.com"
grp_org_admin             = "gcp-organization-admins@otis.com"
grp_network_admin         = "gcp-network-admins@otis.com"
grp_network_viewer        = "gcp-network-viewers@otis.com"
grp_security_admin        = "gcp-security-admins@otis.com"
grp_security_viewer       = "gcp-security-viewers@otis.com"
grp_compute_admin         = "gcp-devops@otis.com"
grp_log_viewer            = "gcp-logging-viewers@otis.com"
grp_log_admin             = "gcp-logging-admins@otis.com"
grp_monitoring_viewer     = "gcp-monitoring-viewers@otis.com"
grp_monitoring_admin      = "gcp-monitoring-admins@otis.com"
terraform_service_account = "" # TODO
